/* Page-specific styling */

.space{
    margin-top: 40px;
}

#content-main button {
    margin-top: 10px;
    width: 200px;
}

#chartContainer{
    margin: auto;
    margin-top: 50px;
}

#trap {
    position: absolute;
    left: 150px;
    bottom: 100px;
    width:0px;
    height:0;
    line-height:0;
    border-top:80px solid #C2762B;
    border-right:70px solid transparent;
    border-left:70px solid transparent;
    
 }

#trap2 {
    position: absolute;
    left: 150px;
    bottom: 100px;
    width: 0; 
    height: 0;
    border-top: 40px solid #f00; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
 }